// Colors
$black: #000;
$white: #fff;
$light-gray: #ccc;
$dark-gray: #999;
$red: #f7877d;
$yellow: #faf4cb;
$blue: #57a2e4;


// Font Stacks
$helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$arvo: 'Arvo', serif;